<div class="row">
    <div class="myCommment">


        <div class="comment-post-form">
            <form ng-submit="submitComment()" class="commentForm form-inline">
                <div class="form-group">
                    <div class="thumb">
                        <img src="images/1451432654_emblem-people-man.png" class="thumb"/>                
                    </div>

                    <textarea ng-model="comment" class="comment-block form-control" rows="4"></textarea>
                    <!-- <input type="text" ng-model="comment" name="text" /> -->
                    <button type="submit" id="submit" class="postButton btn btn-success">Post</button>
                </div>
            </form>
        </div>
    </div>
    
</div>    

<hr />

<div id="comments">
    <ul>
        <li ng-repeat="blog in blogEntryList">
            <span>{{blog.time | date:'shortDate'}}</span>
            <span><strong>{{blog.handle}}</strong></span>
            <span>{{blog.comment}}</span>
        </li>
    </ul>
</div>

</div>