<!DOCTYPE html>
<html lang="en" ng-app="blogApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OUC Micro Blog</title>

    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css\microblog.css"> -->

    <style type="text/css">

        input[type="text"] {
            width: 300px;
        }

        .input-group-addon img {
            width: 34px
            height: 34px;
        }        


        .thumb img {
            margin: none;
            padding: none;
       }

       .thumb 
       {

        width: 34px;
        height: 34px;
       }

/*        .thumb{
            margin: none;
            padding: none;
            width: 60px;
            height: 60px;
            border-right: thin solid #5CB85C ;
            position: fixed;
        }*/

        .comment-post-form{
            margin-left: 50px;
            padding-left: 15px;    
        }

        .comment-block {
            margin-top: 7px;
            padding-top: 0;
            width: 250px;
            height: 60px;
        }

        .postButton {
            
        }

        .comment-post-form fieldset{
        }

        .myCommment {

            margin-bottom: 35px;
        }

    </style>

    <script src="js/jquery/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="js/angular/angular.min.js" type="text/javascript"></script>
    <script src="bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script>    
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers/blog.js" type="text/javascript"></script>
    <script src="js/controllers/auth.js" type="text/javascript"></script>

    <script type="text/javascript">
        $( document ).ready( function(){
            console.log("ready!");
        });
      
        $( window ).ready( function() {
            console.log("window loaded");
        });

    </script>
</head>

<body>

    <div id="current-user-div" class="container" ng-controller="BlogListCtrl">
    
    
        <!-- <ngview />     -->

        <div class="row">
            <div class="myCommment">


                <div class="comment-post-form">
                    <form ng-submit="submitComment()" class="commentForm form-inline">
                        <div class="form-group">
                            <div class="thumb">
                                <img src="images/1451432654_emblem-people-man.png" class="thumb"/>                
                            </div>

                            <textarea ng-model="comment" class="comment-block form-control" rows="4"></textarea>
                            <!-- <input type="text" ng-model="comment" name="text" /> -->
                            <button type="submit" id="submit" class="postButton btn btn-success">Post</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>    

        <hr />
    
        <div id="comments">
            <ul>
                <li ng-repeat="blog in blogEntryList">
                    <span>{{blog.time | date:'shortDate'}}</span>
                    <span><strong>{{blog.handle}}</strong></span>
                    <span>{{blog.comment}}</span>
                </li>
            </ul>
        </div>

    </div>

</body>

</html>